/* -----------------------------------------------------RESET CSS ----------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  min-width: 0;
}
/* ================================================================================================================== */
body {
  font-family: "Raleway", "Montserrat", "Open Sans", sans-serif;
  font-size: 16px;

  --hero-height: 130vh;

  --main-font-color: white;
  --main-orange: #f26522;
  --sub-color-title: #3a4d69;
  --sub-color-content: #83969f;
  --gray-cf: #cfcfcf;
  --gray-d8: #d8d8d8;
  --gray-b6: #b6b6b6;
  --gray-70: #707070;
  --blue-39: #323339;
  --gray-56: #494a56;

  --padding-left: 10%;
  --padding-left-content-float-right: calc(var(--padding-left) / 2);
  --title-margin-bottom: 2rem;
  --padding-content-y: 4.25rem;
  --padding-content-x: 3.375rem;
  --padding-content-right-y: 5.0625rem;
  --padding-content-right-x: 3.375rem;
  --overlay-part: calc(-1.3 * var(--padding-left));

  --padding-left-mobile: calc(var(--padding-left) / 3);

  --input-height: 3.75rem;
  --input-height-mobile: 2rem;
}
.title {
  font-size: 2.1875rem;
  line-height: 1.1;
  font-weight: 300;
  font-family: "Raleway";
  text-transform: uppercase;

  margin-bottom: var(--title-margin-bottom);
}
.desc {
  font-family: "Open Sans";
}
@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 1.5rem;
  }
}

/* -------------------------------------------------HERO---------------------------------------------------------- */
.heroWrapper {
  background: url("/public/images/top.jpg") no-repeat fixed center;
  background-size: cover;
  height: var(--hero-height);

  color: var(--main-font-color);
}
.heroWrapper {
  padding: 72px 0 0 var(--padding-left);
}
.header {
  display: flex;
  gap: 3.125rem;

  text-transform: uppercase;
}
.header li {
  font-size: 0.8125rem;
  position: relative;
}
.header li:hover {
  cursor: pointer;
}
.header li:hover::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 52px;
  height: 2px;
  margin-top: 5px;
  background-color: var(--main-orange);
}
.heroTextWrapper {
  padding-top: calc(var(--padding-left) * 2);
  max-width: 32%;
}
.heroMainText {
  width: 70%;
  margin-bottom: var(--title-margin-bottom);

  font-size: 2.8125rem;
  font-weight: lighter;
  line-height: 1.06;
}
.heroSubText {
  font-size: 0.9375rem;
  line-height: 1.53;
}
/* ====burger menu==== */
.headerWrapper {
  display: none;
}
#burgerIcon {
  display: none;
}
#burgerIcon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#burgerIcon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burgerIcon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burgerIcon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burgerIcon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0;
  left: 0;
}
#burgerIcon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#burgerIcon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 0;
  left: 0;
}
#toggleHeader {
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: 0.25s linear;
  -webkit-transition: 0.25s linear;
  -moz-transition: 0.25s linear;
  -ms-transition: 0.25s linear;
  -o-transition: 0.25s linear;
}
#toggleHeader.open {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* --------------header with animation-------------- */
.headerWithLogoWrapper {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 60px var(--padding-left) 13px var(--padding-left);
  z-index: 2;
}
.headerBlack {
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s linear;
  box-shadow: -1px 1px 10px gray;
}

.transLogoRotate {
  transform: rotate(90deg);
  transition: 0.3s linear;
  position: relative;
  top: 60px;
  left: 100px;
}
.mobileLogoRotate {
  transform: rotate(90deg);
  transition: 0.3s linear;
  position: relative;
  top: 10px;
  left: 30px;
}
/* ===icon display=== */
#mobileLogo {
  align-self: flex-start;
  width: 20%;
  margin-top: 20px;
}
#arrow1 {
  color: var(--main-font-color);
}
#arrow2 {
  color: var(--main-orange);
}

.belowTextIcon {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ----retina screen ------- */
@media screen and (min-width: 1401px) {
  .heroWrapper {
    height: calc(0.85 * var(--hero-height));
  }
}
@media screen and (max-width: 1400px) {
  .heroTextWrapper {
    padding-top: var(--padding-left);
  }
}
@media screen and (max-width: 1023px) {
  .heroWrapper {
    height: calc(0.58 * var(--hero-height));
  }
}

@media screen and (max-width: 768px) {
  .heroTextWrapper {
    max-width: 50%;
  }
  #transLogo {
    width: 15%;
  }
}
@media screen and (max-width: 480px) {
  .heroWrapper {
    height: var(--hero-height);
  }
  .headerWithLogoWrapper {
    display: none;
  }
  .heroTextWrapper {
    max-width: 80%;
    margin-top: 50%;
  }
  .headerWrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px var(--padding-left);
  }
  .headerBlackMobile {
    background: rgba(0, 0, 0, 0.8);
    transition: 0.3s linear;
    box-shadow: -1px 1px 10px gray;
    z-index: 2;
    padding: 10px var(--padding-left);
  }
  #toggleHeader {
    position: absolute;
    left: 0;
    top: 65px;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);

    z-index: 2;
  }
  #toggleHeader li {
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid white;

    line-height: 4;
    color: var(--main-font-color);
  }
  #toggleHeader li:last-child {
    border-bottom: none;
  }
  #burgerIcon {
    display: block;
    width: 48px;
    height: 48px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  #transLogo {
    width: 20%;
  }
  #arrow2 {
    display: none;
  }
}

/* -----------------------JOINED PART NICE SECTION AND BRIGHT SECTION------------------------------------------------ */
.contentWrapper {
  width: 80%;
  display: flex;
  position: relative;
}
.leftContent {
  background-color: var(--main-orange);
  padding: var(--padding-content-y) var(--padding-content-x);
  max-width: 30%;

  color: var(--main-font-color);
}

.leftContent .content {
  font-size: 0.875rem;
  line-height: 1.6;
}
.rightContent {
  flex-grow: 1;
}
.rightContent .content {
  padding: var(--padding-content-right-y) var(--padding-content-right-x);
}
.rightContent .content .title {
  color: var(--sub-color-title);
}
.rightContent .content .subTitle {
  color: var(--sub-color-content);
  font-size: 0.875rem;
  line-height: 1.6;

  margin-bottom: 3.8rem;
}
.rightContent img {
  object-fit: cover;
  width: 100%;
  display: block;
}
.overlayWrapper {
  position: relative;
  width: 100%;
  height: fit-content;
}
/* .overlayWrapper::before {
  content: "";
  background-color: var(--main-orange);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
} */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 1023px) {
  .contentWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contentWrapper {
    width: 100%;
    flex-direction: column;
  }
  .leftContent {
    width: 100%;
    max-width: 100%;
    padding: calc(var(--padding-content-y) / 2) var(--padding-left);
  }
  .rightContent img {
    height: 30%;
  }
  .rightContent .content {
    padding: calc(var(--padding-content-right-y) / 2) var(--padding-left);
  }
}
@media screen and (max-width: 480px) {
  .rightContent .content {
    padding: calc(var(--padding-content-right-y) / 2)
      calc(var(--padding-content-right-x) / 2) 0 calc(var(--padding-content-right-x) / 2);
  }
  .rightContent .content .subTitle {
    margin-bottom: 1.5rem;
  }
}

/* ----------------------------------------------------BRIGHT SECTION------------------------------------------------ */
.brightSection {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: var(--overlay-part);
  padding-left: var(--padding-left);
}
.arrowWrapper {
  display: flex;
  gap: 0.8rem;
  z-index: 1;
}
.tweetTooltip {
  display: flex;
  align-items: center;
  gap: 10px;
}
.tweetTooltip:hover {
  cursor: pointer;
}
@media screen and (max-width: 1023px) {
  .brightSection {
    padding-left: 0;
  }
  .arrowWrapper {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .brightSection .rightContent .content {
    padding: var(--padding-left);
    padding-bottom: 0;
  }
  .brightSection .leftContent {
    padding: var(--padding-left);
  }
}

/* ------------------------------------------------MELBOURNE------------------------------------------------------ */
.melbourneIntro {
  padding: 3.8rem var(--padding-left);
}
.melbourneIntro .title {
  color: var(--sub-color-title);
}
.melbourneIntro .content {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.melbourneIntro .content p {
  font-size: 0.875rem;
  line-height: 1.7;
  color: var(--gray-b6);
}
.melbourneIntro .content p:not(:first-child) {
  color: var(--sub-color-content);
}
/* for retina screen keep 4 cols */
@media screen and (min-width: 768px) {
  .melbourneIntro .content {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .melbourneIntro .content {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
}

/* -----------------------------------------------WORDS-SUCH--------------------------------------------------------- */
.wordSuchCover {
  background: url("./public/images/word-such.jpg") no-repeat fixed center;
  background-size: cover;
  padding-top: calc(17.4% + var(--padding-left));
  padding-left: var(--padding-left);
}
.wordSuchContent {
  display: flex;
  width: 60%;
  background-color: var(--main-orange);
  color: var(--main-font-color);
}
.wordSuchContent .title {
  width: 50%;
  padding: 6.5rem 0 0 var(--padding-left-content-float-right);

  font-size: 3.75rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.2;
}
.wordSuchContent img {
  min-width: 50%;
  object-fit: cover;
}
@media screen and (max-width: 1023px) {
  .wordSuchContent {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .wordSuchContent .title {
    padding: var(--padding-left-content-float-right);
  }
}
@media screen and (max-width: 480px) {
  .wordSuchContent {
    position: relative;
    /* width: 100%; */
  }
  .wordSuchContent .title {
    width: 80%;
    font-size: 3rem;
  }
  .wordSuchContent img {
    /* position: absolute;
    width: 30%;
    min-width: 20%;
    right: 0;
    bottom: 0; */
    display: none;
  }
}

/* ---------------------------------------------WITH LEFT PADDING----------------------------------------------------- */
.toRightSideWrapper {
  padding-left: var(--padding-left);
}
.wordSuchIntro {
  background-color: var(--main-orange);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 2.5625rem 5.8125rem;

  padding: calc(1.8 * var(--padding-left-content-float-right))
    var(--padding-left-content-float-right);

  color: var(--main-font-color);
  font-size: 0.875rem;
  line-height: 1.7;
}
@media screen and (min-width: 768px) {
  .wordSuchIntro {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}
@media screen and (max-width: 480px) {
  .wordSuchIntro {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    background: var(--main-font-color);
    padding: var(--padding-left);

    color: var(--sub-color-content);
  }
  .toRightSideWrapper {
    padding-left: 0;
  }
}

/* --------------------------------------------TAKE ACTION ----------------------------------------------------------- */
.takeActionWrapper {
  padding: calc(1.5 * var(--padding-left-content-float-right))
    var(--padding-left-content-float-right);
  background-color: var(--blue-39);

  color: var(--main-font-color);
}
.takeActionWrapper .formWrapper {
  width: 80%;
  display: flex;
  gap: 5px;
}
.takeActionWrapper .formWrapper input {
  display: inline-block;
  height: var(--input-height);
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: calc(25% - 3rem);

  padding: 1rem;

  border-radius: 2px;
  border: 1px solid var(--gray-70);
}
.takeActionWrapper .formWrapper button {
  height: var(--input-height);
  flex-grow: 1;
  position: relative;

  border: 2px solid var(--main-font-color);
  background: none;

  color: var(--main-font-color);
  text-transform: capitalize;

  transition: color 0.25s linear 0.25s;
}
.takeActionWrapper .formWrapper button:hover {
  box-sizing: border-box;
  background: white;

  color: var(--gray-70);
  cursor: pointer;
}

.animatedBtn span {
  position: absolute;
  display: block;
}
.animatedBtn span:first-child {
  top: 0;
  left: 0;
  background: var(--main-orange);

  width: 0;
  height: 2px;

  transition: width 0.25s linear;
}
.animatedBtn span:nth-child(3) {
  bottom: 0;
  right: 0;
  background: var(--main-orange);

  width: 0;
  height: 2px;

  transition: width 0.25s linear 0.5s;
}
.animatedBtn span:nth-child(2) {
  top: 0;
  right: 0;
  background: var(--main-orange);

  width: 2px;
  height: 0;

  transition: height 0.25s linear 0.25s;
}
.animatedBtn span:nth-child(4) {
  bottom: 0;
  left: 0;
  background: var(--main-orange);

  width: 2px;
  height: 0;

  transition: height 0.25s linear 0.75s;
}

.animatedBtn:hover span:nth-child(odd) {
  width: 100%;
}
.animatedBtn:hover span:nth-child(even) {
  height: 100%;
}

.animatedBtn::before {
  content: "";
  background: var(--main-orange);
  width: 0;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  transition: width 0.25s ease-in 1s;
}
.animatedBtn:hover::before {
  width: 100%;
}

.takeActionImg {
  display: block;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1023px) {
  .takeActionWrapper .formWrapper {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .takeActionWrapper .formWrapper {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .takeActionWrapper .formWrapper input,
  .takeActionWrapper .formWrapper button {
    flex-basis: calc(50% - 3rem);
    height: var(--input-height-mobile);
  }
}

@media screen and (max-width: 480px) {
  .takeActionWrapper .formWrapper input,
  .takeActionWrapper .formWrapper button {
    height: var(--input-height-mobile);
    flex-basis: calc(80% - 3rem);
  }
}

/* ---------------------------------------------LAST SECTION--------------------------------------------------------- */
.lastSection {
  margin-top: var(--overlay-part);
}
.lastSection .rightContent img {
  height: 50%;
}
@media screen and (max-width: 1023px) {
  .lastSection {
    width: 90%;
  }
  .lastSection .contentWrapper {
    width: 100%;
  }
  .lastSection .rightContent img {
    height: 30%;
  }
}
@media screen and (max-width: 768px) {
  .lastSection {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .lastSection .contentWrapper {
    margin-top: 0;
  }
  .lastSection .rightContent .content .subTitle {
    margin-bottom: 3rem;
  }
}

/* ---------------------------------------------FOOTER---------------------------------------------------------------- */
footer {
  background-color: var(--blue-39);
  padding: calc(var(--padding-left) / 2.8) var(--padding-left)
    calc(var(--padding-left) * 1.1) var(--padding-left);

  font-family: "Montserrat";
  font-size: 0.75rem;
  line-height: 2.2;
  color: var(--main-font-color);
  text-transform: capitalize;
}
.linkWrapper {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.linkWrapper ul {
  flex-grow: 1;
}
.linkWrapper ul li:first-child {
  color: var(--main-orange);
  margin-bottom: 1.2rem;
}
.hiddenText {
  width: 65%;
  margin-top: calc(var(--padding-left) / 2);
  font-family: "MyriadPro";
  color: var(--gray-56);
}
@media screen and (max-width: 480px) {
  .linkWrapper,
  .hiddenText {
    width: 100%;
  }
}
