/* -----------------------------------------------------RESET CSS ----------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  min-width: 0;
}
/* ================================================================================================================== */
body {
  --text-main-white: #ffffff;
  --left-bar-mobile-width: 80px;
}
.container {
  background: url("./public/Background.png") no-repeat center center;
  background-size: cover;
  width: 100%;

  color: var(--text-main-white);
}
/* -----------------------------------------HERO1--------------------------------------------------------------------- */
.heroLeftBar {
  width: var(--left-bar-mobile-width);
}
.heroWrapper,
.hero2Wrapper {
  display: flex;
  height: 100vh;
}
.hero2Wrapper .heroLeftBar {
  display: none;
}
.heroTextWrapper {
  background: url("./public/hero-red.png") no-repeat center center;
  background-size: cover;
  width: 100%;
}

.hero2TextWrapper {
  background: url("./public/hero-purple.png") no-repeat center center;
  background-size: cover;
  width: 100%;
}
@media screen and (min-width: 576px) {
  .hero2Wrapper .heroLeftBar {
    display: block;
  }
}

/* -----------------------------------------SCROLLER1---------------------------------------------------------------- */
.nextButton,
.scrollerTitle {
  display: none;
}
.scrollerWrapper,
.scroller {
  display: flex;
}
.scrollItem {
  width: 80%;
  height: 467px;
}
.imgWrapper {
  width: 100%;
}
.imgWrapper img {
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .scrollItem {
    width: calc(100% / 4 - 10px);
  }
}
@media screen and (min-width: 576px) {
  .nextButton,
  .scrollerTitle {
    display: block;
  }
  .scrollItem {
    width: calc(100% / 3 - 10px);
  }
}
